                                                                                  LAB 2
                                                                 Programming For Artificial Intelligence

In [8]:
#                                                                               MAIN TASK 1 
#                                                                1.	Print at least types of data type
#                                                                                 INTEGER

# Example 1: Positive integer
num1 = 10
print(num1)

# Example 2: Negative integer
num2 = -5
print(num2)

# Example 3: Large integer (using underscore for readability)
large_num = 1_000_000

# Example 4: Integer from string
str_num = "25"
int_from_str = int(str_num)
print(int_from_str)

# Example 5: Binary integer
binary_num = 0b1010  
print(binary_num)


#                                                                                 TASK 2
#                                                                                  FLOAT

# Example 1: Standard floating-point number
float_num1 = 3.14
print(float_num1)

# Example 2: Negative floating-point number
float_num2 = -2.5
print(float_num2)

# Example 3: Scientific notation
sci_notation = 6.022e23  
print(sci_notation)

# Example 4: Float from integer division
result = 7 / 2  
print(result)

# Example 5: Float from string
str_float = "7.5"
float_from_str = float(str_float)
print(float_from_str)

#                                                                                  TASK 3
#                                                                                  COMPLEX

# Example 1: Complex number with real and imaginary parts
complex_num1 = 2 + 3j
print(complex_num1)

# Example 2: Complex number with negative imaginary part
complex_num2 = 4 - 2j
print(complex_num2)

# Example 3: Complex number from polar coordinates
import cmath
r, theta = 5, 0.5  # Magnitude of 5 and angle of 0.5 radians
complex_from_polar = cmath.rect(r, theta)
print(complex_from_polar )

# Example 4: Complex number from real and imaginary parts
real_part = 1.5
imaginary_part = -2.7
complex_from_parts = complex(real_part, imaginary_part)
print(complex_from_parts)

# Example 5: Complex number from string
str_complex = "3+4j"
complex_from_str = complex(str_complex)
print(complex_from_str)

10
-5
25
10
3.14
-2.5
6.022e+23
3.5
7.5
(2+3j)
(4-2j)
(4.387912809451864+2.397127693021015j)
(1.5-2.7j)
(3+4j)

In [11]:
#                                                                                        MAIN TASK 2
#                                                              2.	Write example of type conversion for each ( minimum 3)
#                                                                                     1: Integer to String
print("INTEGER TO STRING OUTPUT 1 :")
int_float = 7
int_num = float(str_float)
print("TYPE CONVERSION:", float_num)
print("TYPE OF CONVERTED VARIABLE:", type(float_num))

print("INTEGER TO STRING OUTPUT 2 :")
int_float = 9
int_num = float(str_float)
print("TYPE CONVERSION:", float_num)
print("TYPE OF CONVERTED VARIABLE:", type(float_num))

print("INTEGER TO STRING OUTPUT 3 :")
int_float = 10
int_num = float(str_float)
print("TYPE CONVERSION:", float_num)
print("TYPE OF CONVERTED VARIABLE:", type(float_num))

#                                                                                     2: Float to Integer:
print("FLOAT TO INTEGER OUTPUT 1 :")
num_float = 3.14
int_num = int(num_float)
print("TYPE CONVERSION:", int_num)
print("TYPE OF CONVERTED VARIABLE:", type(int_num))

print("FLOAT TO INTEGER OUTPUT 2 :")
num_float = 3.79
int_num = int(num_float)
print("TYPE CONVERSION:", int_num)
print("TYPE OF CONVERTED VARIABLE:", type(int_num))

print("FLOAT TO INTEGER OUTPUT 3 :")
num_float = 3.63
int_num = int(num_float)
print("TYPE CONVERSION:", int_num)
print("TYPE OF CONVERTED VARIABLE:", type(int_num))

#                                                                                     3: Complex to Integer:
print("COMPLEX TO INTEGER OUTPUT 1 :")
complex_num = 3 + 4j  # Complex number with real part 3 and imaginary part 4
real_part = int(complex_num.real)  # Extract the real part and convert to integer
print("TYPE CONVERSION:", complex_num)
print("TYPE OF CONVERTED VARIABLE:", real_part)

print("COMPLEX TO INTEGER OUTPUT 2 :")
complex_num = 3 + 6j  # Complex number with real part 3 and imaginary part 4
real_part = int(complex_num.real)  # Extract the real part and convert to integer
print("TYPE CONVERSION:", complex_num)
print("TYPE OF CONVERTED VARIABLE:", real_part)

print("COMPLEX TO INTEGER OUTPUT 3 :")
complex_num = 6 + 4j  # Complex number with real part 3 and imaginary part 4
real_part = int(complex_num.real)  # Extract the real part and convert to integer
print("TYPE CONVERSION:", complex_num)
print("TYPE OF CONVERTED VARIABLE:", real_part)

INTEGER TO STRING OUTPUT :
TYPE CONVERSION: 7.5
TYPE OF CONVERTED VARIABLE: <class 'float'>
FLOAT TO INTEGER OUTPUT :
TYPE CONVERSION: 3
TYPE OF CONVERTED VARIABLE: <class 'int'>
COMPLEX TO INTEGER OUTPUT :
TYPE CONVERSION: (3+4j)
TYPE OF CONVERTED VARIABLE: 3

In [12]:
#                                                                                              MAIN TASK 3
#                                                3.	Assign multiple strings to single variable with your name , registration number, program , semester etc
#                                                                            Assign multiple strings to a single variable
student_info = """
Name: ZARYAB
Registration Number: B22F1225AIO07
Program: DEVIN AI CANCEL THE PROGRAM
Semester: Spring 2024
"""

# Print the variable containing multiple strings
print(student_info)

Name: ZARYAB
Registration Number: B22F1225AIO07
Program: DEVIN AI CANCEL THE PROGRAM
Semester: Spring 2024

In [13]:
#                                                                                                   MAIN TASK 4
#                                                                              Write Your country name and access the last 3 characters

country_name = "United States"
last_three_chars = country_name[-3:]
print("Country Name:", country_name)
print("Last 3 Characters:", last_three_chars)

Country Name: United States
Last 3 Characters: tes

In [14]:
#                                                                             MAIN TASK 5
#                                                       Write code and observe using len() function it count space or not.
text = "Hello, World!"
length_with_spaces = len(text)
print("Text with spaces:", text)
print("Length (including spaces):", length_with_spaces)

text_without_spaces = "Hello,World!"
length_without_spaces = len(text_without_spaces)
print("Text without spaces:", text_without_spaces)
print("Length (excluding spaces):", length_without_spaces)

Text with spaces: Hello, World!
Length (including spaces): 13
Text without spaces: Hello,World!
Length (excluding spaces): 12

In [16]:
#                                                                                 MAIN TASK 6
#                                    6.	Write code to access the 2nd and 3rd character of your name using negative indexes.
name = "ChatGPT"
second_character = name[-6]
print("Second character using negative index:", second_character)
third_character = name[-5]
print("Third character using negative index:", third_character)

Second character using negative index: h
Third character using negative index: a

In [17]:
#                                                                                  MAIN TASK 7
#                           7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.
# Pass index numbers to format() function
formatted_with_index = "{0} {1} {2} {3}".format("First", "Second", "Third", "Fourth")
print("Formatted with index numbers:", formatted_with_index)

Formatted with index numbers: First Second Third Fourth

In [18]:
#                                                                                   MAIN TASK 8
#                                                 8.	Take input from user and  than display it like “John age is: age”
# Take input from the user
name = input("Enter your name: ")
age = input("Enter your age: ")

# Display the input in the desired format
print("{}'s age is: {}".format(name, age))

RAFAY's age is: 17