                                                                             PROGRAMMING IN AI
                                                                                LAB 4 AND 5

In [18]:
#                                                                           1.Access List Items:
fruits = ["apple", "banana", "orange", "grape"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[3])

First fruit: apple
Last fruit: grape

In [2]:
#                                                                         2.Change List Items:
colors = ["red", "green", "yellow", "purple"]
colors[1] = "blue"
print("Updated colors list:", colors)

Updated colors list: ['red', 'blue', 'yellow', 'purple']

In [3]:
#                                                                          3.Add List Items:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print("Updated  list:", numbers)

Updated numbers list: [1, 2, 3, 4, 5, 10]

In [4]:
#                                                                          4.Remove List Items:
animals = ["lion", "elephant", "zebra", "giraffe"]
del animals[2]
print("Updated  list:", animals)

Updated animals list: ['lion', 'elephant', 'giraffe']

In [16]:
#                                                                          5.Loop Lists:
cities = ["New York", "London", "Tokyo", "Paris"]
for city in cities:
    print(cities)

['New York', 'London', 'Tokyo', 'Paris']
['New York', 'London', 'Tokyo', 'Paris']
['New York', 'London', 'Tokyo', 'Paris']
['New York', 'London', 'Tokyo', 'Paris']

In [6]:
#                                                                          6.List Comprehension:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [num ** 2 for num in numbers]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#                                                                         7.Sort Lists:
names = ["RAFAY", "ZARYAB", "ALI", "AFFAN"]
names.sort()
print("Sorted names list:", names)

Sorted names list: ['Anna', 'Emily', 'John', 'Mike']

In [9]:
#                                                                         8.Copy Lists: 
fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print("Copied fruits list:", fruits_copy)

Copied fruits list: ['apple', 'banana', 'orange']

In [57]:
#                                                                         9.Join Lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
sum_list = [x+y for x,y in zip(list1,list2)]
print("Combined list:", combined_list)
print("Sum of List ",sum_list)

Combined list: [1, 2, 3, 4, 5, 6]
Sum of List  [5, 7, 9]

In [23]:
#                                                                        11.Combining Lists and List Comprehension:
list = ["Banana","apple","pineapple"]
list.append("rafay")
print(list)
list.pop(0)
print(list)

['Banana', 'apple', 'pineapple', 'rafay']
['apple', 'pineapple', 'rafay']

In [49]:
#                                                                        12.Filtering and Sorting:
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]
combined_list= list_1 + list_2
print("Orignal list: ", combined_list)
combined_list.reverse()
print("Reverse list :" ,combined_list)

Orignal list:  [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]
Reverse list : [9, 8, 7, 6, 5, 5, 4, 3, 2, 1]

In [ ]:

numbers = list(range(1, 11))
even